<nb-card>
  <nb-card-body>
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <!-- <button button type="button" class="close pull-right" aria-label="Close" (click)="onClose()" > -->
      <button class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="stateForm" class="form-horizontal" (ngSubmit)="AddState()">
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <label>Country *</label>
            <auto-completen
            [addclass]="{ 'error': submit && this.stateForm.controls.countryname.errors }"
              addclass="form-control" optValues="name" formControlName="countryname" (keyUp)="getCountry($event)"
              placeholder='Select Country' id="id" [item]="count">
            </auto-completen>
            <div *ngIf="this.stateForm.controls.countryname.errors && (this.stateForm.controls.countryname.errors.required) && submit" class="error-text">
              Country Name is required!
             </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <label>State *</label>
            <input type="text" class="form-control" name="statename" formControlName="statename" placeholder="Enter State"
            [ngClass]="{ 'is-invalid': submit && stateForm.controls.statename.errors }"/>
            <small *ngIf="stateForm.controls.statename.errors &&(stateForm.controls.statename.errors.required )&& submit"
            class="invalid-feedback">statename is required! </small>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" status="success" nbButton  >{{item ? 'Update' : 'Add'}}</button>
        <button type="button" status="danger" nbButton (click)="close()">Cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>