<p>list-profile works!</p>
<nb-card>
  <nb-card-header>List Profile</nb-card-header>
  <nb-card-body>
    <!-- <toaster-container></toaster-container> -->
    <button [hidden] class="btn btn-sm btn-success" [routerLink]="['/pages/das-administration/create-profile']">Create</button>
    <hr style="border: 0px;">
    <table class="table">
      <tr>
        <th [hidden]>Action</th>
        <th>Profile ID</th>
        <th>Profile Name</th>
      </tr>
      <tr>
        <!-- <td [hidden]><a (click)='edit(item);'><i class="nb-edit"></i></a></td> -->
        <!-- <td>{{item.profile_id}}</td>
          <td>{{item.profile_name}}</td> -->
      </tr>
    </table>
  </nb-card-body>
</nb-card>