<nb-card>
  <nb-card-body>
<div class="modal-header">
    <span>{{ title }}</span>
    <!-- <button class="close" aria-label="Close"> -->
      <button class="close" aria-label="Close" (click)="close();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="Areaform" class="form-horizontal" (ngSubmit)="Area();">
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-sm-6">
          <label>Country *</label>
          <auto-completen
          [addclass]="{ 'error': submit && this.Areaform.controls.countryid.errors }"
          addclass="form-control" optValues="name"
          formControlName="countryid" (keyUp)="getCountry($event)"
          (changed)="getstate();typeclearlcountry('1')" placeholder='Select Country' id="id"
          [item]="count">
        </auto-completen>
        <div *ngIf="this.Areaform.controls.countryid.errors && (this.Areaform.controls.countryid.errors.required) && submit" class="error-text">
          Country Name is required!
         </div>
        </div>
        <div class="col-sm-6">
          <label>State *</label>
          <auto-completen
                           [addclass]="{ 'error': submit && this.Areaform.controls.stateid.errors }"
                            addclass="form-control" optValues="name"
                            formControlName="stateid" (keyUp)="getstate($event)"
                            (changed)="getdistrict();typeclearstate('1')"
                             placeholder='Select State' id="id"
                            [item]="getstates">
                          </auto-completen>
                          <div *ngIf="this.Areaform.controls.stateid.errors && (this.Areaform.controls.stateid.errors.required) && submit" class="error-text">
                            State Name is required!
                           </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label>District *</label>
          <auto-completen
          [addclass]="{ 'error': submit && this.Areaform.controls.districtid.errors }"
          addclass="form-control" optValues="name"
          formControlName="districtid" (keyUp)="getdistrict($event) "
          (changed)="getcity();typecleardis('1')"
           placeholder='Select District' id="id"
          [item]="dist">
        </auto-completen>
        <div *ngIf="this.Areaform.controls.districtid.errors && (this.Areaform.controls.districtid.errors.required) && submit" class="error-text">
          District Name is required!
         </div>
        </div>
        <div class="col-sm-6">
          <label>City *</label>
          <auto-completen
          [addclass]="{ 'error': submit && this.Areaform.controls.cityid.errors }"
          addclass="form-control" optValues="name"
          formControlName="cityid" (keyUp)="getcity($event)" (changed)="getpincode()"
           placeholder='Select City' id="id"
          [item]="citylist">
        </auto-completen>
        <div *ngIf="this.Areaform.controls.cityid.errors && (this.Areaform.controls.cityid.errors.required) && submit" class="error-text">
          City Name is required!
         </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label>Area *</label>
          <input type="text" class="form-control" name="areaname" formControlName="areaname" placeholder="Enter Area"
            [ngClass]="{ 'is-invalid': submit && Areaform.controls.areaname.errors }"/>
            <small *ngIf="Areaform.controls.areaname.errors &&(Areaform.controls.areaname.errors.required )&& submit"
            class="invalid-feedback">Area is required! </small>
        </div>
        <div class="col-sm-6">
          <label>PinCode *</label>
          <auto-completen
          [addclass]="{ 'error': submit && this.Areaform.controls.pincode.errors }"
          addclass="form-control" optValues="pincode"
          formControlName="pincode" (keyUp)="listpincode($event) "
           placeholder='Select Pincode' id="id"
          [item]="listpincode">
        </auto-completen>
        <div *ngIf="this.Areaform.controls.pincode.errors && (this.Areaform.controls.pincode.errors.required) && submit" class="error-text">
          Pincode  is required!
         </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" status="success" nbButton >{{item ? 'Update' : 'Add'}}</button>
      <button type="button" status="danger" nbButton (click)="close(); ">Cancel</button>
    </div>
  </form>
  </nb-card-body>
</nb-card>